.invalid-feedback .green-color{
    color: green;
}

.footer-code{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.doc-img {
    max-width:  250px;
}

.col-12.col-md-9.tab-content {
    height: 390px;
    overflow: scroll;
}
