<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-12 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">

                        <li class="nav-item" ngbNavItem>
                            <!-- <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Basic Info</span>
                </a> -->

                            <div class="card">
                                <div class=" row justify-content-between">
                                    <div class="card-header ml-1">
                                        <h4 class="card-title">Add Agency</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-3">
                                        <form class="user" [formGroup]="formData" (ngSubmit)="submitted()">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="common-form-field">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="welcome-logo">
                                                                    <img src="assets/images/log.png" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="welcome">
                                                                    <h1>Agency Information</h1>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">Agency Name *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['agency_name'].dirty && controls['agency_name'].invalid"
                                                                        formControlName="agency_name"
                                                                        class="form-control form-control-user" id="agency_name"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['agency_name'].dirty && controls['agency_name'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_name'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Agency Phone No *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text" phoneMask [preValue]="formData.value.agency_phone" maxlength="14"
                                                                        [class.is-invalid]="controls['agency_phone'].dirty && controls['agency_phone'].invalid"
                                                                        formControlName="agency_phone" class="form-control form-control-user"
                                                                        id="agency_phone">
                                                                    <span
                                                                        *ngIf="controls['agency_phone'].dirty && controls['agency_phone'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_phone'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_phone'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Enter valid number
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Agency Email Address</label>
                                                                </div>
                                                            </div>    
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="email"
                                                                        [class.is-invalid]="controls['agency_email'].dirty && controls['agency_email'].invalid"
                                                                        formControlName="agency_email"
                                                                        class="form-control form-control-user" id="agency_email">
                                                                    <span
                                                                        *ngIf="controls['agency_email'].dirty && controls['agency_email'].invalid">
                                                                        <!-- <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_email'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div> -->
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_email'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Please enter valid email
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">Agency Address *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['address1'].dirty && controls['address1'].invalid"
                                                                        formControlName="address1"
                                                                        class="form-control form-control-user" id="address1"
                                                                         class="form-control" placeholder="Address 1"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['address1'].dirty && controls['address1'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['address1'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['address2'].dirty && controls['address2'].invalid"
                                                                        formControlName="address2"
                                                                        class="form-control form-control-user" id="address2"
                                                                         class="form-control" placeholder="Address 2"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <!-- <span
                                                                        *ngIf="controls['address2'].dirty && controls['address2'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['address2'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">
                                                                       Agency City *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['city'].dirty && controls['city'].invalid"
                                                                        formControlName="city"
                                                                        class="form-control form-control-user" id="city"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['city'].dirty && controls['city'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['city'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">
                                                                       Agency State *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <select id="inputState" class="form-control"  formControlName="state">
                                                                      <option value="" selected disabled  >State...</option>
                                                                      <option value="NY">NY</option>
                                                                            <option value="WDC">WDC</option>
                                                                            <option value="KL">KL</option>
                                                                            <option value="VA">VA</option>
                                                                    </select>
                                                                    <span *ngIf="controls['state'].dirty && controls['state'].invalid">
                                                                      <div class="invalid-feedback"
                                                                        *ngIf="controls['state'].hasError('required')" class="text text-danger">
                                                                        This field required
                                                                      </div>
                                                                    </span>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">
                                                                       Agency Zip Code *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['zipcode'].dirty && controls['zipcode'].invalid"
                                                                        formControlName="zipcode"
                                                                        class="form-control form-control-user" id="zipcode"
                                                                         class="form-control" maxlength="5"
                                                                        aria-describedby="passwordHelpInline" inputDirective inptype="number" >
                                                                    <span
                                                                        *ngIf="controls['zipcode'].dirty && controls['zipcode'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['zipcode'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">
                                                                       Agency Website *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['agency_website'].dirty && controls['agency_website'].invalid"
                                                                        formControlName="agency_website"
                                                                        class="form-control form-control-user" id="agency_website"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['agency_website'].dirty && controls['agency_website'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_website'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">
                                                                        Primary Contact Person</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['primary_contact_person'].dirty && controls['primary_contact_person'].invalid"
                                                                        formControlName="primary_contact_person"
                                                                        class="form-control form-control-user" id="primary_contact_person"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['primary_contact_person'].dirty && controls['primary_contact_person'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['primary_contact_person'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">
                                                                        Agency Contact First Name *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['agency_contact_firstname'].dirty && controls['agency_contact_firstname'].invalid"
                                                                        formControlName="agency_contact_firstname"
                                                                        class="form-control form-control-user" id="agency_contact_firstname"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['agency_contact_firstname'].dirty && controls['agency_contact_firstname'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_firstname'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">
                                                                        Agency Contact Last Name *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['agency_contact_lastname'].dirty && controls['agency_contact_lastname'].invalid"
                                                                        formControlName="agency_contact_lastname"
                                                                        class="form-control form-control-user" id="agency_contact_lastname"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['agency_contact_lastname'].dirty && controls['agency_contact_lastname'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_lastname'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label  class="col-form-label">
                                                                        Agency Contact Person Title *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text"
                                                                        [class.is-invalid]="controls['agency_contact_person_title'].dirty && controls['agency_contact_person_title'].invalid"
                                                                        formControlName="agency_contact_person_title"
                                                                        class="form-control form-control-user" id="agency_contact_person_title"
                                                                         class="form-control"
                                                                        aria-describedby="passwordHelpInline">
                                                                    <span
                                                                        *ngIf="controls['agency_contact_person_title'].dirty && controls['agency_contact_person_title'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_person_title'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Agency Contact Cell Number *</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text" phoneMask [preValue]="formData.value.agency_contact_cell_number" maxlength="14"
                                                                        [class.is-invalid]="controls['agency_contact_cell_number'].dirty && controls['agency_contact_cell_number'].invalid"
                                                                        formControlName="agency_contact_cell_number" class="form-control form-control-user"
                                                                        id="agency_contact_cell_number">
                                                                    <span
                                                                        *ngIf="controls['agency_contact_cell_number'].dirty && controls['agency_contact_cell_number'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_cell_number'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_cell_number'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Enter valid number
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Agency Contact Email Address *</label>
                                                                </div>
                                                            </div>    
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="email"
                                                                        [class.is-invalid]="controls['agency_contact_email_address'].dirty && controls['agency_contact_email_address'].invalid"
                                                                        formControlName="agency_contact_email_address"
                                                                        class="form-control form-control-user" id="agency_contact_email_address">
                                                                    <span
                                                                        *ngIf="controls['agency_contact_email_address'].dirty && controls['agency_contact_email_address'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_email_address'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['agency_contact_email_address'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Please enter valid email
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Primary Contact Phone</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="text" phoneMask [preValue]="formData.value.primary_contact_phone" maxlength="14"
                                                                        [class.is-invalid]="controls['primary_contact_phone'].dirty && controls['primary_contact_phone'].invalid"
                                                                        formControlName="primary_contact_phone" class="form-control form-control-user"
                                                                        id="primary_contact_phone">
                                                                    <span
                                                                        *ngIf="controls['primary_contact_phone'].dirty && controls['primary_contact_phone'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['primary_contact_phone'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['primary_contact_phone'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Enter valid number
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Primary Contact Email</label>
                                                                </div>
                                                            </div>    
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="email"
                                                                        [class.is-invalid]="controls['primary_contact_email'].dirty && controls['primary_contact_email'].invalid"
                                                                        formControlName="primary_contact_email"
                                                                        class="form-control form-control-user" id="primary_contact_email">
                                                                    <span
                                                                        *ngIf="controls['primary_contact_email'].dirty && controls['primary_contact_email'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['primary_contact_email'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['primary_contact_email'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            Please enter valid email
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div class="row" *ngIf="currentUser?.role == 'Admin'">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">
                                                                        Community </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">                                        
                                                                    <select
                                                                    placeholder="community_id"
                                                                    formControlName="community_id"
                                                                    id="community_id"
                                                                    type="select"
                                                                    class="form-control">
                                                                    <option value="disabled">Select Community Id</option>
                                                                    <option *ngFor="let communite of allCommunity" [value]="communite.id">
                                                                      {{communite?.community_name}}
                                                                    </option>
                                                                    </select>
                                                                    <span
                                                                        *ngIf="controls['community_id'].dirty && controls['community_id'].invalid">
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['community_id'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                       
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Password</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="password"
                                                                        [class.is-invalid]="controls['password'].dirty && controls['password'].invalid"
                                                                        formControlName="password" class="form-control form-control-user"
                                                                        id="password">
                                                                    <span
                                                                        *ngIf="controls['password'].dirty && controls['password'].invalid">
                                                                        <!-- <div class="invalid-feedback"
                                                                            *ngIf="controls['password'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div> -->
                                                                        <div class="invalid-feedback"
                                                                            *ngIf="controls['password'].hasError('pattern')"
                                                                            class="text text-danger">
                                                                            A minimum 8 characters password contains a combination of
                                                                            uppercase and lowercase letter and special character are
                                                                            required.
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6" class="col-form-label">Confirm Password</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <input type="password"
                                                                        [class.is-invalid]="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid"
                                                                        formControlName="cnfrmpassword" class="form-control form-control-user"
                                                                        id="cnfrmpassword">
                                                                    <span
                                                                        *ngIf="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid">
                                                                        <!-- <div class="invalid-feedback"
                                                                            *ngIf="controls['cnfrmpassword'].hasError('required')"
                                                                            class="text text-danger">
                                                                            This field required
                                                                        </div> -->
                                                                        
                                                                        <div *ngIf="controls.cnfrmpassword.errors.confirmedValidator" style="color: #ea5455; font-size: 1rem;">Password and Confirm Password must be match.</div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                                            Add
                                                            <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                                                aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" (click)="goBack()"
                                                        class="btn btn-primary ml-1" [disabled]="btnShow">
                                                        Cancel
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="button" (click)="addForm()" class="btn btn-primary" [disabled]="btnShow">
                                Add Another Shift
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>

                            <button type="button" (click)="submitted()" class="btn btn-primary ml-1"
                                [disabled]="btnShow">
                                Submit
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button> -->
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>


