<div class="card">
    <div class="card-header d-flex flex-column align-items-start pb-0">
        <h2 class="font-weight-bolder mt-1"
            [innerHTML]="currentUser.role == 'Agency' ? 'Agency Personnel List' : 'User List'"> </h2>
    </div>
    <div class="card-body mt-1">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">

                    <button type="button" class="btn-sm btn-info"
                        [innerHTML]="currentUser.role == 'Agency' ? 'Add Agency Personnel ' : 'Add User'" [routerLink]="['/user/add-user']" >
                        <i class="fa fa-plus mr-50"></i>
                    </button>

                </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                    <label class="d-flex align-items-center"> {{ 'DEPOSIT.depoSearch' | translate}}
                        <input #searchStrInput type="text" placeholder="Search" class="form-control ml-25"
                            [(ngModel)]="searchStr" />
                    </label>
                </div>
            </div>
        </div>

        <ngx-datatable #tablesss class="bootstrap core-bootstrap sz-1000" [rows]="rows" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
            [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)" *ngIf="currentUser.role != 'Admin' ">
            <ngx-datatable-column name="Lastname" prop="last_name" [width]="100">
                <ng-template let-last_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ last_name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Firstname" prop="first_name" [width]="100">
                <ng-template let-first_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ first_name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Phone No." prop="phone_number" [width]="80">
                <ng-template let-phone_number="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{phone_number | numberFormat }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="email" prop="email" [width]="100">
                <ng-template let-email="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ email }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngIf="currentUser.role != 'SuperAdmin'" name="DOB" prop="DOB" [width]="80">
                <ng-template let-DOB="value" let-expanded="expanded" ngx-datatable-cell-template>
                    {{ DOB | date:'MM-dd-yyyy'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
                *ngIf="currentUser.role != 'Community' && currentUser.role != 'Agency' && currentUser.role != 'Admin'"
                name="Community" prop="community_id" [width]="100">
                <ng-template let-community_id="value" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngFor="let com of community_id; let l = last">{{com.community_name}}{{l ? '' : ','}} </span>
                    <span *ngIf="!community_id || !community_id?.length">---</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngIf="currentUser.role == 'Admin' && currentUser.role == 'Community' && currentUser.role == 'Agency'" name="Community" prop="community" [width]="100">
                <ng-template let-community="value" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngFor="let com of community; let l = last">{{com.community_name}}{{l ? '' : ','}} </span>
                    <span *ngIf="!community || !community.length">---</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Agency" prop="agency_id" [width]="100"
                *ngIf="currentUser.role != 'Community' && currentUser.role != 'Agency' && currentUser.role !='Admin'">
                <ng-template let-agency_id="value" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngFor="let com of agency_id; let l = last">{{com.agency_name}}{{l ? '' : ','}} </span>
                    <span *ngIf="!agency_id || !agency_id.length">---</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="80">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                            <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                                <a [routerLink]="['/userProfile', row.id]" ngbDropdownItem
                                    class="d-flex align-items-center">
                                    <i class="fa fa-eye mr-50"></i> View
                                </a>
                                <a (click)="openDeleteUser(row)" ngbDropdownItem class="d-flex align-items-center">
                                    <i class="fa fa-trash mr-50"></i> Archive
                                </a>
                                <a [routerLink]="['/user/edit-user',row]" ngbDropdownItem class="d-flex align-items-center">
                                    <i class="fa fa-edit mr-50"></i> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ngx-datatable *ngIf="currentUser.role == 'Admin' " #tablesss class="bootstrap core-bootstrap sz-1000" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="false"
        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="10" (page)="setPage($event)">
        <ngx-datatable-column name="Lastname" prop="last_name" [width]="100" >
            <ng-template let-last_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ last_name }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Firstname" prop="first_name" [width]="100">
            <ng-template let-first_name="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ first_name }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Phone No." prop="phone_number" [width]="80">
            <ng-template let-phone_number="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{phone_number | numberFormat }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="email" prop="email" [width]="100">
            <ng-template let-email="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ email }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="currentUser.role != 'SuperAdmin'" name="DOB" prop="DOB" [width]="80">
            <ng-template let-DOB="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ DOB | date:'MM-dd-yyyy'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
            *ngIf="currentUser.role != 'Community' && currentUser.role != 'Agency' && currentUser.role != 'Admin'"
            name="Community" prop="community_id" [width]="100">
            <ng-template let-community_id="value" let-expanded="expanded" ngx-datatable-cell-template>
                <span *ngFor="let com of community_id; let l = last">{{com.community_name}}{{l ? '' : ','}} </span>
                <span *ngIf="!community_id || !community_id?.length">---</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="currentUser.role == 'Admin'" name="Community" prop="community" [width]="100">
            <ng-template let-community="value" let-expanded="expanded" ngx-datatable-cell-template>
                <span *ngFor="let com of community; let l = last">{{com.community_name}}{{l ? '' : ','}} </span>
                <span *ngIf="!community || !community.length">---</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Agency" prop="agency_id" [width]="100"
            *ngIf="currentUser.role != 'Community' && currentUser.role != 'Agency' && currentUser.role !='Admin'">
            <ng-template let-agency_id="value" let-expanded="expanded" ngx-datatable-cell-template>
                <span *ngFor="let com of agency_id; let l = last">{{com.agency_name}}{{l ? '' : ','}} </span>
                <span *ngIf="!agency_id || !agency_id.length">---</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="80">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                    <div ngbDropdown container="body">
                        <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                            <a [routerLink]="['/userProfile', row.id]" ngbDropdownItem
                                class="d-flex align-items-center">
                                <i class="fa fa-eye mr-50"></i> View
                            </a>
                            <a (click)="openDeleteUser(row)" ngbDropdownItem class="d-flex align-items-center">
                                <i class="fa fa-trash mr-50"></i> Archive
                            </a>
                            <a [routerLink]="['/user/edit-user',row]" ngbDropdownItem class="d-flex align-items-center">
                                <i class="fa fa-edit mr-50"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    </div>
</div>

<!-- DeleteModal -->
<ng-template #deleteUser let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title text-white" id="myModalLabel1"
            [innerHTML]="currentUser.role == 'Agency' ? 'Archive Agency Personnel ? ' : 'Archive User '"></h4>
        <button type="button" [disabled]="deletingUser" class="close" (click)="closeded(modal)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <h5
            [innerHTML]="currentUser.role == 'Agency' ? 'Are you sure you want to Archive this Agency Personnel ? ' : 'Are you sure you want to Archive this User ?'">
        </h5>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="btnShow" class="btn btn-danger d-flex float-right"
            style="margin-top: 10px!important;" (click)="deletesUser(modal)" rippleEffect>
            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Archive
        </button>
    </div>
</ng-template>
<!-- / Modal -->


