<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-12 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">

                        <li class="nav-item" ngbNavItem>
                            <!-- <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Basic Info</span>
                </a> -->

                            <div class="card" *ngFor="let obj of blankArray; let i = index">
                                <div class=" row justify-content-between">
                                    <div class="card-header ml-1">
                                        <h4 class="card-title">Add Shift {{i + 1}}</h4>
                                    </div>
                                    <div class="close card-header mr-1 " *ngIf="i!=0" style="color: #ff6633;">
                                        <p (click)="removeCard(i)">x</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-3">
                                        <form class="user">
                                            <div class="row" hidden>
                                                <div class="col-lg-4">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">
                                                            hidden </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group ">
                                                        <input type="text" value="confirmation"
                                                            placeholder="Communication for Confirmation" disabled
                                                            name="shift" [(ngModel)]="obj.shift">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">
                                                            Shift type *</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group d-flex">
                                                        <div class="form-check">
                                                            <input class="form-check-input" name='is_urgent'
                                                                value='urgent' [(ngModel)]="obj.is_urgent" type="radio"
                                                                id="flexRadioDefault1">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                Urgent
                                                            </label>
                                                        </div>
                                                        <div class="form-check ml-3">
                                                            <input class="form-check-input" name='is_urgent'
                                                                value='standard' [(ngModel)]="obj.is_urgent"
                                                                type="radio" id="flexRadioDefault2" checked>
                                                            <label class="form-check-label" for="flexRadioDefault2">
                                                                Standard
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="submit && !obj.is_urgent">
                                                        <div [ngClass]="{'is-invalid': true}" style="color: red;">This
                                                            field is Required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="common-form-field">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Team member type *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group d-flex">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" name='for_cp'
                                                                            value='0' [(ngModel)]="obj.for_cp"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            Team members
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check ml-3">
                                                                        <input class="form-check-input" name='for_cp'
                                                                            value='2' [(ngModel)]="obj.for_cp"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="flexRadioDefault2" checked>
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault2">
                                                                            Contract agencies
                                                                        </label>
                                                                    </div>

                                                                    <div class="form-check ml-3">
                                                                        <input class="form-check-input" name='for_cp'
                                                                            value='1' [(ngModel)]="obj.for_cp"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="flexRadioDefault2" checked>
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault2">
                                                                            Both Team Members And Contract Agencies
                                                                        </label>
                                                                    </div>
                                                                    <!-- <div class="form-check ml-3">
                                                                        <input class="form-check-input" name='for_cp'
                                                                            value='3' [(ngModel)]="obj.for_cp"
                                                                            type="radio" name="flexRadioDefault"
                                                                            id="flexRadioDefault2" checked>
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault2">
                                                                            Other agencies
                                                                        </label>
                                                                    </div> -->
                                                                </div>
                                                                <div *ngIf="submit && !obj.for_cp">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Department *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <!-- <ng-multiselect-dropdown placeholder="--Department List--"
                                                                    [settings]="dropdownSettings" name="department"
                                                                    [data]="department"
                                                                    [(ngModel)]="obj.department" (keyUp.enter)="search()">
                                                                </ng-multiselect-dropdown> -->
                                                                <select 
                                                                [(ngModel)]="obj.department" name="department"
                                                                class="form-control">
                                                                <option value="undefined" selected="selected" disabled>---Departments List---</option>
                                                                <option value="Activities">Activities</option>
                                                                <option value="Business Office">Business Office                                                                </option>
                                                                <option value="Dining">Dining                                                                </option>
                                                                <option value="Environmental Services">Environmental Services                                                                </option>
                                                                <option value="Health & Wellness">Health & Wellness                                                                </option>
                                                                <option value="Housekeeping">Housekeeping</option>
                                                                <option value="Laundry">Laundry</option>
                                                            </select>
                                                                </div>
                                                                <div *ngIf="submit && !obj.department">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Position *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <!-- <ng-multiselect-dropdown placeholder="--Positions List--"
                                                                    [settings]="dropdownSettings1" name="position"
                                                                    [data]="position"
                                                                    [(ngModel)]="obj.position" (keyUp.enter)="search()">
                                                                    </ng-multiselect-dropdown> -->
                                                                        <select 
                                                                        [(ngModel)]="obj.position" name="positions"
                                                                        class="form-control">
                                                                        <option value="undefined" selected="selected" disabled>---Positions List---</option>
                                                                        <option value="Concierge">Concierge</option>
                                                                        <option value="Cook">Cook</option>
                                                                        <option value="Dining Concierge">Dining Concierge</option>
                                                                        <option value="Direct Care Aide">Direct Care Aide</option>
                                                                        <option value="Dishwasher/Dining Aide">Dishwasher/Dining Aide</option>
                                                                        <option value="Housekeeper">Housekeeper</option>
                                                                        <option value="Laundry Aide">Laundry Aide</option>
                                                                        <option value="Maintenance Assistant">Maintenance Assistant</option>
                                                                        <option value="Registered Medication Aide/AMAP">Registered Medication Aide/AMAP</option>
                                                                        <option value="Shift Supervisor">Shift Supervisor</option>
                                                                    </select>
                                                                </div>
                                                                <div *ngIf="submit && !obj.position">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Certification Required *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <!-- <ng-multiselect-dropdown placeholder="--Certifications List--"
                                                                    [settings]="dropdownSettings2" name="certification"
                                                                    [data]="certification"
                                                                    [(ngModel)]="obj.certification" (keyUp.enter)="search()">
                                                                    </ng-multiselect-dropdown> -->
                                                                        <select 
                                                                        [(ngModel)]="obj.certification" name="crtfReq"
                                                                        class="form-control">
                                                                        <option value="undefined" selected="selected" disabled>---Certification Required List---</option>
                                                                        <option value="Direct Care Aide">Direct Care Aide</option>
                                                                        <option value="Licensed Practical Nurse">Licensed Practical Nurse</option>
                                                                        <option value="Registered Medication Aide">Registered Medication Aide</option>
                                                                        <option value="Registered Nurse">Registered Nurse</option>
                                                                        <option value="Serve Safe Certified">Serve Safe Certified</option>
                                                                        <option value="Not Applicable">Not Applicable</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                                <div *ngIf="submit && !obj.certification">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     

                                                        <div class="row" *ngIf="currentUser.role == 'SuperAdmin' || currentUser.role == 'Admin' ">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Community List *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                        <!-- <ng-multiselect-dropdown placeholder="--Select Community--"
                                                                            [settings]="dropdownSettings3" name="community"
                                                                            [data]="currentUser.role =='Admin' ? mngmCommunity : allCommunity"
                                                                            [(ngModel)]="obj.community" (keyUp.enter)="search()">
                                                                        </ng-multiselect-dropdown> -->
                                                                        <select *ngIf="currentUser.role == 'Admin'"
                                                                            [(ngModel)]="obj.community" name="community"
                                                                            class="form-control">
                                                                            <option value="undefined" selected="selected" disabled>----Community List----</option>
                                                                            <option   [ngValue]="tm.id" *ngFor="let tm of mngmCommunity">
                                                                                {{tm.community_name}}</option>
                                                                        </select>

                                                                        <select *ngIf="currentUser.role == 'SuperAdmin'"
                                                                        [(ngModel)]="obj.community" name="community"
                                                                        class="form-control">
                                                                        <option value="undefined" selected="selected" disabled>----Community List----</option>
                                                                        <option   [ngValue]="tm.id" *ngFor="let tm of allCommunity">
                                                                            {{tm.community_name}}</option>
                                                                    </select>

                                                                </div>
                                                                <div *ngIf="submit && !obj.community">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                             </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Delay *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="d-flex common-form-left form-group">
                                                                    <div class="input-group ">
                                                                        <select placeholder="HH"
                                                                            *ngIf="obj.h_m == 'Hours'"
                                                                            [(ngModel)]="obj.delay" name="delay"
                                                                            class="form-control">
                                                                            <option value="" selected="selected" disabled>No Delay</option>
                                                                            <option *ngFor="let tm of Hours">
                                                                                {{tm.hour}}</option>
                                                                        </select>

                                                                        <select placeholder="HH"
                                                                            *ngIf="obj.h_m == 'Minutes'"
                                                                            [(ngModel)]="obj.delay" name="delay"
                                                                            class="form-control">
                                                                            <option disabled>No Delay</option>
                                                                            <option *ngFor="let tm of Minutes">
                                                                                {{tm.minute}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="input-group ml-1">
                                                                        <select placeholder="MM" [(ngModel)]="obj.h_m"
                                                                            name="h_m" class="form-control">
                                                                            <option value="Hours" selected>Hours
                                                                            </option>
                                                                            <option value="Minutes"> Minutes</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="submit && !obj.delay">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Description
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left form-group">
                                                                    <textarea [(ngModel)]="obj.description"
                                                                        name="des{{i}}"
                                                                        class="form-control form-control-user"
                                                                        id="description"></textarea>
                                                                </div>
                                                                <!-- <div *ngIf="submit && !obj.description">
                                                                    <div [ngClass]="{'is-invalid': true}"
                                                                        style="color: red;">This field is Required</div>
                                                                </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="row  mb-1">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Shift Start *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="input-group col-lg-8 mb-1">
                                                                <input type="date" min="{{todaysDate}}"
                                                                    class="form-control"
                                                                    [(ngModel)]="obj.start_date" name="start_date{{i}}"
                                                                    aria-label="Text input with dropdown button" (ngModelChange)="getTm1($event)">
                                                                <!-- <div ngbDropdown >
                                                                <button type="button" class=" form-control " id="dropdownBasic1" ngbDropdownToggle>Time</button>
                                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                                  <button ngbDropdownItem>10:00 Am</button>
                                                                  <button ngbDropdownItem>10:30 Am</button>
                                                                  <button ngbDropdownItem>11:00 Am</button>
                                                                </div>
                                                          </div> -->

                                                                <select placeholder="HH:MM" [(ngModel)]="obj.startTime"
                                                                    name="startTime" class="form-control"   (ngModelChange)="getTm2($event)">
                                                                    <option disabled value="">HH:MM</option>
                                                                    <option *ngFor="let tm of timeslots">
                                                                        {{tm.label}}</option>
                                                                </select>
                                                                <div class="erro-class"
                                                                    *ngIf="submit && !obj.startTime">Start Date and Time
                                                                    is Required</div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Shift End *
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="input-group col-lg-8 mb-1">
                                                                <input type="date" min="{{obj.start_date}}"
                                                                    [disabled]="!obj.start_date || !obj.startTime "
                                                                    (ngModelChange)="getTm3($event)"
                                                                    [(ngModel)]="obj.end_date" name="end_date{{i}}"
                                                                    class="form-control"
                                                                    aria-label="Text input with dropdown button">

                                                                <!-- <div ngbDropdown >
                                                            <button type="button" class=" form-control " id="dropdownBasic1" ngbDropdownToggle>Time</button>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                                                              <button  class=" form-control btn-sm " ngbDropdownItem>10:00 Am</button>
                                                              <button class="form-control btn-sm "  ngbDropdownItem>10:30 Am</button>
                                                              <button class="form-control btn-sm "  ngbDropdownItem>11:00 Am</button>
                                                            </div>
                                                      </div> -->

                                                                <select placeholder="HH:MM" [(ngModel)]="obj.endTime"
                                                                    [disabled]="!obj.start_date || !obj.startTime "
                                                                    name="endTime" class="form-control" (ngModelChange)="getTm4($event)"> 
                                                                    <option disabled value="">HH:MM</option>
                                                                    <option *ngFor="let tm of timeslots">
                                                                        {{tm.label}}</option>
                                                                </select>
                                                                <div class="erro-class" *ngIf="submit && !obj.endTime">
                                                                    End Date and Time is Required</div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="common-form-left">
                                                                    <label for="inputPassword6"
                                                                        class="col-form-label">Shift Duration
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="input-group col-lg-4 mb-1">
                                                                <input type="text"
                                                                    [(ngModel)]="obj.duration" name="duration{{i}}"
                                                                    class="form-control" placeholder="HH:MM"
                                                                    aria-label="Text input with dropdown button" readonly >
                                                            </div>
                                                        </div>

                                                        <!-- <div class="row addUserbtn">
                                            <div class="m-1">
                                                <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                                    <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                                        aria-hidden="true"></span>
                                                    Add
                                                </button>
                                            </div>                                
                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)="addForm()" class="btn btn-primary" [disabled]="btnShow">
                                Add Another Shift
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>

                            <button type="button" (click)="submitted()" class="btn btn-primary ml-1"
                                [disabled]="btnShow">
                                Submit
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>

                            <button type="button" (click)="goBack()" class="btn btn-primary ml-1"
                                [disabled]="btnShow">
                                Cancel
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>
<!-- <ng-image-fullscreen-view *ngIf="imageObject && imageObject.length" [images]="imageObject"
    [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view> -->