<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left" (navChange)="tabChanged($event)">
  
              <li class="nav-item" ngbNavItem *ngIf="currentUser.role == 'Agency'">
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">User Info</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Agency Profile</h4>
                    </div>
                    <div class="card-body">
                      <form class="user" [formGroup]="formData" (ngSubmit)="submitted()">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="common-form-field">
                              <div class="row  ">
                                <div class="col-lg-12 ">
                                  <div class="welcome-logo d-flex justify-content-center mb-2">
                                    <img src="assets/images/avatars/10.png" style="border-radius: 50%;" alt="Logo">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Agency Name
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text"  
                                      [class.is-invalid]="controls['agency_name'].dirty && controls['agency_name'].invalid"
                                       class="form-control form-control-user" formControlName="agency_name"
                                      id="agency_name"  class="form-control"
                                       >
                                    <span *ngIf="controls['agency_name'].dirty && controls['agency_name'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['agency_name'].hasError('required')" class="text text-danger">
                                        This field required
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Agency Website
                                      </label>
  
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text"
                                      [class.is-invalid]="controls['agency_website'].dirty && controls['agency_website'].invalid"
                                      formControlName="agency_website" class="form-control form-control-user"
                                      id="agency_website" >
                                    <span
                                      *ngIf="controls['agency_website'].dirty && controls['agency_website'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['agency_website'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback"
                                    *ngIf="controls['agency_website'].hasError('pattern')"
                                    class="text text-danger">
                                    Enter valid email id
                                  </div>
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Agency Phone
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text"  phoneMask [preValue]="formData.value.agency_phone" maxlength="14"
                                      [class.is-invalid]="controls['agency_phone'].dirty && controls['agency_phone'].invalid"
                                      formControlName="agency_phone" 
                                      class="form-control form-control-user" id="agency_phone" >
                                    <span
                                      *ngIf="controls['agency_phone'].dirty && controls['agency_phone'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['agency_phone'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback" *ngIf="controls['agency_phone'].hasError('pattern')"
                                      class="text text-danger"> Enter valid Phone number
                                    </div>
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">DOB
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="date"  max={{minDate}}
                                      [class.is-invalid]="controls['DOB'].dirty && controls['DOB'].invalid"
                                      formControlName="DOB" 
                                      class="form-control form-control-user" id="DOB" >
                                    <span
                                      *ngIf="controls['DOB'].dirty && controls['DOB'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['DOB'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                                  <button type="submit" [disabled]="btnShow" class="btn btn-danger ">
                                  <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Update
                              </button>
                              
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem *ngIf="currentUser.role == 'User'">
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">User Info</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">User Profile</h4>
                    </div>
                    <div class="card-body">
                      <form class="user" [formGroup]="userFormData" (ngSubmit)="userSubmitted()">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Phone No</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="text" phoneMask [preValue]="userFormData.value.phone_number" maxlength="14"
                                        [class.is-invalid]="uc['phone_number'].dirty && uc['phone_number'].invalid"
                                        formControlName="phone_number" class="form-control form-control-user" id="phone_number">
                                    <span *ngIf="uc['phone_number'].dirty && uc['phone_number'].invalid">
                                        <div class="invalid-feedback" *ngIf="uc['phone_number'].hasError('required')"
                                            class="text text-danger">
                                            This field required
                                        </div>
                                        <div class="invalid-feedback" *ngIf="uc['phone_number'].hasError('pattern')"
                                            class="text text-danger">
                                            Enter valid Phone number
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="common-form-field">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">Email
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="common-form-left form-group">
                                                <input type="text" [class.is-invalid]="uc['email'].dirty && uc['email'].invalid"
                                                    formControlName="email" class="form-control form-control-user" id="email"
                                                    id="inputPassword6" class="form-control"
                                                    aria-describedby="passwordHelpInline">
                                                <span *ngIf="uc['email'].dirty && uc['email'].invalid">
                                                    <div class="invalid-feedback" *ngIf="uc['email'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="uc['email'].hasError('pattern')"
                                                        class="text text-danger">
                                                        Please enter valid email
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">Full Name
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="common-form-left form-group">
                                                <input type="text"
                                                    [class.is-invalid]="uc['first_name'].dirty && uc['first_name'].invalid"
                                                    formControlName="first_name" class="form-control form-control-user" id="first_name"
                                                    id="inputPassword6" class="form-control" placeholder="Firstname"
                                                    aria-describedby="passwordHelpInline">
                                                <span *ngIf="uc['first_name'].dirty && uc['first_name'].invalid">
                                                    <div class="invalid-feedback" *ngIf="uc['first_name'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-4">
                                            <div class="common-form-left form-group">
                                                <input type="text"
                                                    [class.is-invalid]="uc['last_name'].dirty && uc['last_name'].invalid"
                                                    formControlName="last_name" class="form-control form-control-user" id="last_name"
                                                    id="inputPassword6" class="form-control" placeholder="LastName"
                                                    aria-describedby="passwordHelpInline">
                                                <span *ngIf="uc['last_name'].dirty && uc['last_name'].invalid">
                                                    <div class="invalid-feedback" *ngIf="uc['last_name'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- <div class="row"  *ngIf="currentUser.role != 'Agency' && currentUser.role != 'Community'">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">Community and Agency list
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="mb-2">
                                                <div class=" ">
                                                    <div class="row">
                                                        <div class="col-6" >
         
                                                            <!-- <ng-multiselect-dropdown placeholder="--Select Community--"
                                                                [settings]="dropdownSettings" [data]="allCommunity"   (onSelect)="uncheckDropdown4()" (onSelectAll)="multiuncheckDropdown4()"
                                                                formControlName="community_id"  (keyUp.enter)="search()">
                                                            </ng-multiselect-dropdown> -->
        
                                                            <!-- <ng-multiselect-dropdown placeholder="--Select Community--"
                                                            [disabled]="ec['agency_id'].value?.length"
                                                            [settings]="dropdownSettings" [data]="allCommunity"
                                                            [class.is-invalid]="ec['community_id'].dirty && ec['community_id'].invalid"
                                                            formControlName="community_id" (keyUp.enter)="search()">
                                                        </ng-multiselect-dropdown> -->
                                                            
                                                        <!-- </div>
                                                        <div class="col-6" >
                                                            <ng-multiselect-dropdown placeholder="--Select Agency--"
                                                            [settings]="dropdownSettings1" [data]="allAgenciesID"
                                                            [disabled]="ec['community_id'].value?.length"
                                                            [class.is-invalid]="ec['agency_id'].dirty && ec['agency_id'].invalid"
                                                            formControlName="agency_id" (keyUp.enter)="search()">
                                                        </ng-multiselect-dropdown>
        
                                                        <span *ngIf="ec['agency_id'].dirty && ec['agency_id'].invalid">
                                                            <div class="invalid-feedback" 
                                                                class="text text-danger">
                                                                This field required
                                                            </div>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    <!-- </div> --> 
        
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">DOB
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="common-form-left form-group">
                                                <input type="date"  max={{minDate}} [class.is-invalid]="uc['DOB'].dirty && uc['DOB'].invalid"
                                                    formControlName="DOB" class="form-control form-control-user" id="DOB">
                                                <span *ngIf="uc['DOB'].dirty && uc['DOB'].invalid">
                                                    <div class="invalid-feedback" *ngIf="uc['DOB'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
        
                                                </span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">Pin Code</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="common-form-left form-group">
                                                <input type="text"
                                                    [class.is-invalid]="uc['PIN_code'].dirty && uc['PIN_code'].invalid"
                                                    formControlName="PIN_code" class="form-control form-control-user"
                                                    id="PIN_code">
                                                <span *ngIf="uc['PIN_code'].dirty && uc['PIN_code'].invalid">
                                                    <div class="invalid-feedback" *ngIf="uc['PIN_code'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                    <!-- <div class="invalid-feedback" *ngIf="uc['PIN_code'].hasError('pattern')"
                                                        class="text text-danger">
                                                        A minimum 8 characters password contains a combination of
                                                        uppercase and lowercase letter and special character are
                                                        required.
                                                    </div> -->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                        <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem *ngIf="currentUser.role == 'Community'">
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">User Info</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Community Profile</h4>
                    </div>
                    <div class="card-body">
                      <form class="user" [formGroup]="communityFormData" (ngSubmit)="communitySubmitted()">
                        
                        <div class="row">
                          <div class="col-lg-4">
                              <div class="common-form-left">
                                  <label for="inputPassword6" class="col-form-label">Community Name</label>
                              </div>
                          </div>
                          <div class="col-lg-8">
                              <div class="common-form-left form-group">
                                  <input type="text" 
                                      [class.is-invalid]="cfc['community_name'].dirty && cfc['community_name'].invalid"
                                      formControlName="community_name" class="form-control form-control-user" id="community_name">
                                  <span *ngIf="cfc['community_name'].dirty && cfc['community_name'].invalid">
                                      <div class="invalid-feedback" *ngIf="cfc['community_name'].hasError('required')"
                                          class="text text-danger">
                                          This field required
                                      </div>
                                  </span>
                              </div>
                          </div>
                      </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Community Phone No</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="text" phoneMask [preValue]="communityFormData.value.community_phone_no" maxlength="14"
                                        [class.is-invalid]="cfc['community_phone_no'].dirty && cfc['community_phone_no'].invalid"
                                        formControlName="community_phone_no" class="form-control form-control-user" id="community_phone_no">
                                    <span *ngIf="cfc['community_phone_no'].dirty && cfc['community_phone_no'].invalid">
                                        <div class="invalid-feedback" *ngIf="cfc['community_phone_no'].hasError('required')"
                                            class="text text-danger">
                                            This field required
                                        </div>
                                        <div class="invalid-feedback" *ngIf="cfc['community_phone_no'].hasError('pattern')"
                                            class="text text-danger">
                                            Enter valid Phone number
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">City</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                    <input type="text" 
                                        [class.is-invalid]="cfc['city'].dirty && cfc['city'].invalid"
                                        formControlName="city" class="form-control form-control-user" id="city">
                                    <span *ngIf="cfc['city'].dirty && cfc['city'].invalid">
                                        <div class="invalid-feedback" *ngIf="cfc['city'].hasError('required')"
                                            class="text text-danger">
                                            This field required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-4">
                              <div class="common-form-left">
                                  <label for="inputPassword6" class="col-form-label">Zipcode</label>
                              </div>
                          </div>
                          <div class="col-lg-8">
                              <div class="common-form-left form-group">
                                  <input type="text" 
                                      [class.is-invalid]="cfc['zipcode'].dirty && cfc['zipcode'].invalid" maxlength="5"
                                      formControlName="zipcode" class="form-control form-control-user" id="zipcode" inputDirective inptype="number">
                                  <span *ngIf="cfc['zipcode'].dirty && cfc['zipcode'].invalid">
                                      <div class="invalid-feedback" *ngIf="cfc['zipcode'].hasError('required')"
                                          class="text text-danger">
                                          This field required
                                      </div>
                                  </span>
                              </div>
                          </div>
                      </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="common-form-field">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="common-form-left">
                                                <label for="inputPassword6" class="col-form-label">Community Address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="common-form-left form-group">
                                                <input type="text" [class.is-invalid]="cfc['community_address1'].dirty && cfc['community_address1'].invalid"
                                                    formControlName="community_address1" class="form-control form-control-user" id="community_address1"
                                                    id="inputPassword6" class="form-control"
                                                    aria-describedby="passwordHelpInline">
                                                <span *ngIf="cfc['community_address1'].dirty && cfc['community_address1'].invalid">
                                                    <div class="invalid-feedback" *ngIf="cfc['community_address1'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="common-form-left form-group">
                                                <input type="text" [class.is-invalid]="cfc['community_address2'].dirty && cfc['community_address2'].invalid"
                                                    formControlName="community_address2" class="form-control form-control-user" id="community_address2"
                                                    id="inputPassword6" class="form-control"
                                                    aria-describedby="passwordHelpInline">
                                                <span *ngIf="cfc['community_address2'].dirty && cfc['community_address2'].invalid">
                                                    <div class="invalid-feedback" *ngIf="cfc['community_address2'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <button type="submit" class="btn btn-primary" [disabled]="btnShow">
                                        <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem *ngIf="currentUser.role == 'Admin'">
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">User Info</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Management Profile</h4>
                    </div>
                    <div class="card-body">
                      <form class="auth-login-form mt-2" [formGroup]="editManagement" (ngSubmit)="editManagementSubmit()">
                        <div class="form-group">
                            <label class="form-label" for="login-email">Management Company Name</label>
                            <input type="text" formControlName="mg_name" class="form-control"
                                [ngClass]="{ 'is-invalid': ec['mg_name'].dirty && ec['mg_name'].invalid }"
                                placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" inputDirective
                                maxlength="50" />
                                <span
                                *ngIf="ec['mg_name'].dirty && ec['mg_name'].invalid">
                                <div class="invalid-feedback"
                                    *ngIf="ec['mg_name'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div></span>
                        </div>
        
                        <div class="form-group">
                            <label class="form-label" for="mg_title">Management Company Title</label>
                            <input type="text" formControlName="mg_title" class="form-control"
                                [ngClass]="{ 'is-invalid': ec['mg_title'].dirty && ec['mg_title'].invalid }"
                                placeholder="" aria-describedby="mg_title" autofocus="" tabindex="1" inputDirective
                                maxlength="50">
                            <div *ngIf="ec['mg_title'].dirty && ec['mg_title'].invalid"
                                class="invalid-feedback">
                                <div *ngIf="ec['mg_title'].hasError('required')">This field required</div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="form-label" for="mg_phone">Management Company Phone</label>
                            <input phoneMask [preValue]="editManagement.value.mg_phone" maxlength="14" type="text" formControlName="mg_phone"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': ec['mg_phone'].dirty && ec['mg_phone'].invalid }"
                                placeholder="" aria-describedby="mg_phone" autofocus="" tabindex="1" 
                                >
                            <div *ngIf="ec['mg_phone'].dirty && ec['mg_phone'].invalid"
                                class="invalid-feedback">
                                <div *ngIf="ec['mg_phone'].hasError('pattern')">Please enter valid phone number </div>
                                <div *ngIf="ec['mg_phone'].hasError('required')">This field required</div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-label" for="mg_email">Management Email</label>
                            <input inputDirective inptype="email" type="text" formControlName="mg_email"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': controls['mg_email'].dirty && controls['mg_email'].invalid }"
                                placeholder="" aria-describedby="mg_email" autofocus="" tabindex="1" 
                                maxlength="50">
                                <span
                                *ngIf="controls['mg_email'].dirty && controls['mg_email'].invalid">
                                <div class="invalid-feedback"
                                    *ngIf="controls['mg_email'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="controls['mg_email'].hasError('pattern')"
                                    class="text text-danger">
                                    Please enter valid email
                                </div>
                            </span>
                        </div> -->
                        <div class="form-group">
                            <label class="form-label" for="contact_person">Contact Person</label>
                            <input  type="text" formControlName="contact_person"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': ec['contact_person'].dirty && ec['contact_person'].invalid }"
                                placeholder="" aria-describedby="contact_person" autofocus="" tabindex="1" phoneMask [preValue]="editManagement.value.contact_person" maxlength="14">
                            <div *ngIf="ec['contact_person'].dirty && ec['contact_person'].invalid"
                                class="invalid-feedback">
                                <div *ngIf="ec['contact_person'].hasError('required')">This field required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="contact_person_name">Contact Person Name</label>
                            <input inputDirective inptype="text" type="text" formControlName="contact_person_name"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': ec['contact_person_name'].dirty && ec['contact_person_name'].invalid }"
                                placeholder="" aria-describedby="contact_person_name" autofocus="" tabindex="1" inputDirective
                                maxlength="50">
                            <div *ngIf="ec['contact_person_name'].dirty && ec['contact_person_name'].invalid"
                                class="invalid-feedback">
                                <div *ngIf="ec['contact_person_name'].hasError('required')">This field required</div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="form-label" for="mg_email">Contact Person Email</label>
                            <input  type="text" formControlName="contact_email"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': ec['contact_email'].dirty && ec['contact_email'].invalid }"
                                placeholder="" aria-describedby="contact_email" autofocus="" tabindex="1" 
                                maxlength="50">
                                <span
                                *ngIf="ec['contact_email'].dirty && ec['contact_email'].invalid">
                                <div class="invalid-feedback"
                                    *ngIf="ec['contact_email'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="ec['contact_email'].hasError('pattern')"
                                    class="text text-danger">
                                    Please enter valid email
                                </div>
                            </span>
                        </div>
        
                        <!-- <div class="form-group">
                            <label class="form-label" for="login-email">Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': controls['password'].dirty && controls['password'].invalid }"
                                placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" inputDirective
                                maxlength="50">
                            <div *ngIf="controls['password'].dirty && controls['password'].invalid"
                                class="invalid-feedback">
                                <div *ngIf="controls['password'].hasError('required')">This field required</div>
                            </div>
                            <div class="invalid-feedback" *ngIf="controls['password'].hasError('pattern')"
                            class="text text-danger">
                            A minimum 8 characters password contains a combination of
                            uppercase and lowercase letter and special character are
                            required.
                        </div>
                        </div> -->
                        <!-- <div class="form-group captcha">
                  <re-captcha (resolved)="resolved($event)"
                                          siteKey="6Lcy7N4ZAAAAAHpYHlxEitgnmnAWUJaCCe5cNUzk"></re-captcha>
                </div> -->
                        <button [disabled]="loading" type="submit" class="btn btn-primary " tabindex="4"
                            rippleEffect>
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update
                        </button>
                    </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem *ngIf="currentUser.role == 'Agency' || currentUser.role == 'Community' || currentUser.role == 'Admin' || currentUser.role == 'User' ">
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="users" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">Add Pincode</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Add Pincode</h4>
                    </div>
                    <div class="card-body">
  
                      <form class="user" [formGroup]="forgotPassword" (ngSubmit)="upadtePassword()">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="common-form-field">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="welcome-logo">
                                    <img src="assets/images/log.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                               
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label"> Pincode
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" inputDirective inptype="phonenumber"
                                      [class.is-invalid]="fp['PIN_code'].dirty && fp['PIN_code'].invalid"
                                      formControlName="PIN_code" class="form-control form-control-user"
                                      id="PIN_code" class="form-control"
                                      aria-describedby="passwordHelpInline" maxlength="4" >
                                    <span *ngIf="fp['PIN_code'].dirty && fp['PIN_code'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="fp['PIN_code'].hasError('required')" class="text text-danger">
                                        This field required
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <button type="submit" [disabled]="btnShow" class="btn btn-danger "
                            >
                            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Update
                        </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="check" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">Verify Profile</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Verify Profile</h4>
                    </div>
                    <div class="card-body">
  
                      <form class="user" [formGroup]="sendNo" (ngSubmit)="sendNosbmt()">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="common-form-field">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="welcome-logo">
                                    <img src="assets/images/log.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                               
                                </div>
                              </div>
                              <div class="row " >
                                <div class="col-12 d-flex justify-content-center ">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label" *ngIf="currentUser.role == 'Agency' ? curntUsrvl[0].is_verified == 1 : curntUsrvl[0].is_verified == 1"> <b>Your Phone Number is <span style="color: green;">Verified</span> </b></label>
                                    <label for="inputPassword6" class="col-form-label" *ngIf="currentUser.role == 'Agency' ? curntUsrvl[0].is_verified == 0 : curntUsrvl[0].is_verified == 0"> <b>Verify Your Phone Number <span style="color: red;"> {{ currentUser.role == 'User'? curntUsrvl[0].phone_number : currentUser.role == 'Agency' ? curntUsrvl[0].agency_phone : currentUser.role == 'Admin' ? userDetails.mg_phone : curntUsrvl[0].community_phone_no }}</span></b>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12" style="visibility: hidden;">
                                  <div class="common-form-left form-group">
                                    <input type="text" inputDirective inptype="phonenumber"
                                      [class.is-invalid]="sn['number'].dirty && sn['number'].invalid"
                                      formControlName="number" class="form-control form-control-user"
                                      id="number" class="form-control" 
                                      aria-describedby="passwordHelpInline" maxlength="14" >
                                    <span *ngIf="sn['number'].dirty && sn['number'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="sn['number'].hasError('required')" class="text text-danger">
                                        This field required
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <button type="submit" [disabled]="btnShow" class="btn btn-danger " *ngIf="currentUser.role == 'Agency' ? curntUsrvl[0].is_verified == 1 : curntUsrvl[0].is_verified == 0"
                            >
                            <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1" ></span> Send
                        </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
    </div>
  </div>
  
 <!-- OtpModal -->
<ng-template #verificationModal let-modal>
  <div class="modal-header bg-danger">
    <h4 class="modal-title text-white" id="modal-basic-title">Enter The Verifcation Code </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeVerificationModal()">&times;</button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="otp" (ngSubmit)="otpSubmit()">
      <div class="form-outline mb-4 formGroup" [ngClass]="{'has-error' : otpform.otp.hasError('required') && otpform.otp.dirty}">
        <!-- <label class="form-label" for="form2Example22">Otp</label> -->
        <div class="inp-wrapper mt-3">
          <input type="number" id="form2Example22" class="form-control" placeholder="Enter Your Otp" formControlName="otp" />
        </div>
        <!-- <span *ngIf="{'has-error' : otpform.pass.hasError('required') && otpform.pass.dirty}">
          <span class="text-danger" *ngIf="otpform.pass.dirty && otpform.pass.hasError('required')">
            *Password Required
          </span>
          <span class="text-danger" *ngIf="otpform.pass.hasError('pattern') && otpform.pass.dirty">
            *Password must have atleast one capital leter, one special character, numbers and of min length of 8.
          </span>
        </span> -->
      </div>
    </form>
    <div class="d-flex flex-row-reverse mt-5">
      <div class="inp-emailbtn">
        <button  class="btn btn-danger" type="submit" (click)="otpSubmit()" >Validate Otp</button>
        <i class="fa fa-spinner fa-spin" *ngIf="btnShow"  aria-hidden="true"></i>
      </div> 
      <div class="mr-1">
        <button  class="btn btn-danger" (click)="closeVerificationModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin" *ngIf="btnShow"  aria-hidden="true"></i>
      </div>
    
  </div>
</div>

</ng-template>
<!-- / Modal -->