<div ngbDropdown class="dropdown dropdown-language">
    <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
        <img class='fl-img' [src]="'assets/images/flag-'+languageOptions[translateService.currentLang].flag+'.png'">
        <!-- <i class="flag-icon flag-icon-{{ languageOptions[translateService.currentLang].flag }}"></i> -->
      <!-- <span class="selected-language">{{ languageOptions[translateService.currentLang].title }}</span> -->
      </a>
    <div ngbDropdownMenu aria-labelledby="dropdown-flag">
      <a *ngFor="let lang of translateService.getLangs()" ngbDropdownItem (click)="setLanguage(lang)">
        <img class='fl-img' [src]="'assets/images/flag-'+languageOptions[lang].flag+'.png'">
        <!-- <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i>  -->
        <!-- {{ languageOptions[lang].title }} -->
      </a>
    </div>
  </div>