button.btn.btn-primary.btn-block {
    background-color: #00577d;
}
h1{
                                        
    color: #f57523;
}

a.reg.mt-2 {
    color: #00577d;
    justify-content: end;
    display: flex;
    text-decoration: auto;
    font-size: larger;
}


input#inputPassword6 {
    border-radius: 10rem;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
     padding: 1rem; 
}