<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left" (navChange)="tabChanged($event)">
  
              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold" [innerHTML]="currentUser.role == 'Agency' ? 'Agency Personnel Info' : 'User Info'"></span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title" [innerHTML]="currentUser.role == 'Agency' ? 'Agency Personnel' : 'User'"></h4>
                    </div>
                    <div class="card-body">
                      <form class="user" [formGroup]="formData" (ngSubmit)="submitted()">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="common-form-field">
                              <div class="row  ">
                                <div class="col-lg-12 ">
                                  <div class="welcome-logo d-flex justify-content-center mb-2">
                                    <img src="assets/images/avatars/10.png" style="border-radius: 50%;" alt="Logo">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <!-- <div class="welcome">
                                    <h1>Register Your Community</h1>
                                  </div> -->
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Phone Number
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input phoneMask [preValue]="formData.value.phone_number" type="text"  maxlength="14" formControlName="phone_number" 
                                      [class.is-invalid]="controls['phone_number'].dirty && controls['phone_number'].invalid"
                                      class="form-control form-control-user"
                                      id="phone_number" 
                                      aria-describedby="passwordHelpInline" readonly>
                                    <span *ngIf="controls['phone_number'].dirty && controls['phone_number'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['phone_number'].hasError('required')" class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback" *ngIf="controls['phone_number'].hasError('pattern')"
                                    class="text text-danger"> Enter valid Phone number
                                  </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Email
                                      </label>
  
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text"
                                      [class.is-invalid]="controls['email'].dirty && controls['email'].invalid"
                                      formControlName="email" class="form-control form-control-user"
                                      id="email" readonly>
                                    <span
                                      *ngIf="controls['email'].dirty && controls['email'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['email'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback"
                                    *ngIf="controls['email'].hasError('pattern')"
                                    class="text text-danger">
                                    Enter valid email id
                                  </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">DOB
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" maxlength="12"
                                      [class.is-invalid]="controls['DOB'].dirty && controls['DOB'].invalid"
                                      formControlName="DOB" inputDirective inptype="phonenumber"
                                      class="form-control form-control-user" id="DOB" readonly>
                                    <span
                                      *ngIf="controls['DOB'].dirty && controls['DOB'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['DOB'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <!-- <div class="invalid-feedback"
                                        *ngIf="controls['DOB'].hasError('pattern')"
                                        class="text text-danger">
                                        Enter only number
                                      </div> -->
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">First Name
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" maxlength="12"
                                      [class.is-invalid]="controls['first_name'].dirty && controls['first_name'].invalid"
                                      formControlName="first_name" inputDirective inptype="phonenumber"
                                      class="form-control form-control-user" id="first_name" readonly>
                                    <span
                                      *ngIf="controls['first_name'].dirty && controls['first_name'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['first_name'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <!-- <div class="invalid-feedback"
                                        *ngIf="controls['DOB'].hasError('pattern')"
                                        class="text text-danger">
                                        Enter only number
                                      </div> -->
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Last Name
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" maxlength="12"
                                      [class.is-invalid]="controls['last_name'].dirty && controls['last_name'].invalid"
                                      formControlName="last_name" inputDirective inptype="phonenumber"
                                      class="form-control form-control-user" id="last_name" readonly>
                                    <span
                                      *ngIf="controls['last_name'].dirty && controls['last_name'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['last_name'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <!-- <div class="invalid-feedback"
                                        *ngIf="controls['DOB'].hasError('pattern')"
                                        class="text text-danger">
                                        Enter only number
                                      </div> -->
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="row" *ngIf="currentUser.role != 'Agency'">
                                <!-- <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Community
                                      </label>
                                  </div>
                                </div> -->
                                <!-- <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" maxlength="12"
                                      [class.is-invalid]="controls['community_name'].dirty && controls['community_name'].invalid"
                                      formControlName="community_name" inputDirective inptype="phonenumber"
                                      class="form-control form-control-user" id="community_name" readonly>
                                    <span
                                      *ngIf="controls['community_name'].dirty && controls['community_name'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['community_name'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <!-- <div class="invalid-feedback"
                                        *ngIf="controls['community_name'].hasError('pattern')"
                                        class="text text-danger">
                                        Enter only number
                                      </div> -->
                                    <!-- </span>
                                  </div>
                                </div> --> 
                              </div>
                              <!-- <div class="row" *ngIf="currentUser.role != 'Community'">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Agency
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="text" maxlength="12"
                                      [class.is-invalid]="controls['agency_name'].dirty && controls['agency_name'].invalid"
                                      formControlName="agency_name" inputDirective inptype="phonenumber"
                                      class="form-control form-control-user" id="agency_name" readonly>
                                    <span
                                      *ngIf="controls['agency_name'].dirty && controls['agency_name'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="controls['agency_name'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback"
                                        *ngIf="controls['agency_name'].hasError('pattern')"
                                        class="text text-danger">
                                        Enter only number
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>

              
              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="users" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold"  [innerHTML]="currentUser.role == 'Agency' ? 'Agency Personnel Password' : 'User Password'"></span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Forgot Password</h4>
                    </div>
                    <div class="card-body">
  
                      <form class="user" [formGroup]="forgotPassword" (ngSubmit)="upadtePassword()">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="common-form-field">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="welcome-logo">
                                    <img src="assets/images/log.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <!-- <div class="welcome">
                                    <h1>Register Your Community</h1>
                                  </div> -->
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label"> Old Password
                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="password"
                                      [class.is-invalid]="fp['password'].dirty && fp['password'].invalid"
                                      formControlName="password" class="form-control form-control-user"
                                      id="password" id="inputPassword6" class="form-control"
                                      aria-describedby="passwordHelpInline" >
                                    <span *ngIf="fp['password'].dirty && fp['password'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="fp['password'].hasError('required')" class="text text-danger">
                                        This field required
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Password
                                      </label>
  
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="password"
                                      [class.is-invalid]="fp['newPassword'].dirty && fp['newPassword'].invalid"
                                      formControlName="newPassword" class="form-control form-control-user"
                                      id="newPassword" >
                                    <span
                                      *ngIf="fp['newPassword'].dirty && fp['newPassword'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="fp['newPassword'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                      <div class="invalid-feedback"
                                        *ngIf="fp['newPassword'].hasError('pattern')"
                                        class="text text-danger">
                                        please enter valid password
                                      </div>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Confirm Password

                                      </label>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="password" maxlength="12"
                                      [class.is-invalid]="fp['confPassword'].dirty && fp['confPassword'].invalid"
                                      formControlName="confPassword" 
                                      class="form-control form-control-user" id="confPassword" >
                                    <span
                                      *ngIf="fp['confPassword'].dirty && fp['confPassword'].invalid">
                                      <div class="invalid-feedback"
                                        *ngIf="fp['confPassword'].hasError('required')"
                                        class="text text-danger">
                                        This field required
                                      </div>
                                     
                                    </span>
                                  </div>
                                </div>

                                <button type="submit" [disabled]="btnShow" class="btn btn-danger m-1"
                                >
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span> Change Password
                            </button>

                              </div>
                            </div>
                          </div>
                        </div>

                     

                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>


            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
      <!--/ account setting page -->
    </div>
  </div>
  
  <!-- <ng-image-fullscreen-view *ngIf="imageObject && imageObject.length" [images]="imageObject"
    [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>contentHeader -->