<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
  
              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Basic Information</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Community Information</h4>
                    </div>
                    <div class="card-body">
  
                        <div class=" col-lg-12 mt-2" *ngFor="let comm of allCommunity">
                                <div class="card">
                                    <!-- <div class="card-header  pb-0">
                                        <div class="row">
                                            <h5 class="ml-1">{{agency.agency_name}} </h5>
                                        </div>
                                    </div> -->
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_name}}</span></div>
                                    </div>
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Address 1 : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_address1}}</span></div>
                                    </div>
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Address 2 : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_address2}}</span></div>
                                    </div>
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Email Address : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_email}}</span></div>
                                    </div>
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Phone Number : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_phone_no |numberFormat}}</span></div>
                                    </div>
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Community Website : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ comm.community_website}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>City : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.city}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>State : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.state}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Zipcode : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.zipcode}}</span></div>
                                    </div>
                                    <!-- <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>First Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.first_name}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Last Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.last_name}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Phone : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.phone |numberFormat}}</span></div>
                                    </div> -->
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Primary Contact Firstname : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.primary_contact_firstname}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Primary Contact Lastname : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.primary_contact_lastname}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Primary Contact Phone : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.primary_contact_phone |numberFormat}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Primary Contact Email : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.primary_contact_email}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Primary Contact Title : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{comm.primary_contact_title}}</span></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
    </div>
  </div>
  
  <ng-image-fullscreen-view *ngIf="imageObject && imageObject.length" [images]="imageObject"
    [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>