<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-12 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">

                        <li class="nav-item" ngbNavItem>
                            <!-- <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Basic Info</span>
                </a> -->

                            <div class="card">
                                <div class=" row justify-content-between">
                                    <div class="card-header ml-1">
                                        <h4 class="card-title">Add Management</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-3">
                                        <form class="auth-login-form mt-2" [formGroup]="formData" (ngSubmit)="submitted()">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="login-email">Management Company Name *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="mg_name" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_name'].dirty && controls['mg_name'].invalid }"
                                                    placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" maxlength="50" />
                                                <span *ngIf="controls['mg_name'].dirty && controls['mg_name'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['mg_name'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <!-- <div class="form-group" >
                                                <label class="form-label" for="mg_title">Management Company Title</label>
                                                <input type="text" formControlName="mg_title" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_title'].dirty && controls['mg_title'].invalid }"
                                                    placeholder="" aria-describedby="mg_title" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['mg_title'].dirty && controls['mg_title'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_title'].hasError('required')">This field required</div>
                                                </div>
                                            </div> -->
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_phone">Management Co. Phone Number *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input phoneMask [preValue]="formData.value.mg_phone" maxlength="14" type="text"
                                                    formControlName="mg_phone" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_phone'].dirty && controls['mg_phone'].invalid }"
                                                    placeholder="" aria-describedby="mg_phone" autofocus="" tabindex="1">
                                                <div *ngIf="controls['mg_phone'].dirty && controls['mg_phone'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['mg_phone'].hasError('required')">This field required</div>
                                                    <div *ngIf="controls['mg_phone'].hasError('pattern')">Please enter a phone number </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_email">Management Co. Email Address</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="email" type="text" formControlName="mg_email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_email'].dirty && controls['mg_email'].invalid }"
                                                    placeholder="" aria-describedby="mg_email" autofocus="" tabindex="1" maxlength="50">
                                                <span *ngIf="controls['mg_email'].dirty && controls['mg_email'].invalid">
                                                    <!-- <div class="invalid-feedback" *ngIf="controls['mg_email'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div> -->
                                                    <div class="invalid-feedback" *ngIf="controls['mg_email'].hasError('pattern')"
                                                        class="text text-danger">
                                                        Please enter valid email
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_address1">Management Co. Address *</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" formControlName="mg_address1" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_address1'].dirty && controls['mg_address1'].invalid }"
                                                    placeholder="Address 1" aria-describedby="mg_address1" autofocus="" tabindex="1" maxlength="50">
                                                    <div *ngIf="controls['mg_address1'].dirty && controls['mg_address1'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_address1'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                <input type="text" formControlName="mg_address2" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_address2'].dirty && controls['mg_address2'].invalid }"
                                                    placeholder="Address 2" aria-describedby="mg_address2" autofocus="" tabindex="1" maxlength="50">
                                                    <!-- <div *ngIf="controls['mg_address2'].dirty && controls['mg_address2'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_address2'].hasError('required')">This field required</div>
                                                </div> -->
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="city">Management Co. City *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="city" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['city'].dirty && controls['city'].invalid }"
                                                    placeholder="city" aria-describedby="city" autofocus="" tabindex="1" maxlength="50">
                                                <div *ngIf="controls['city'].dirty && controls['city'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['city'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="state">Management Co. State *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <select id="inputState" class="form-control" formControlName="state">
                                                    <option value="" selected disabled>State...</option>
                                                    <option value="NY">NY</option>
                                                    <option value="WDC">WDC</option>
                                                    <option value="KL">KL</option>
                                                    <option value="VA">VA</option>
                                                </select>
                                                <span *ngIf="controls['state'].dirty && controls['state'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['state'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="zipcode">Management Co. Zip Code *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="number" type="text" formControlName="zipcode" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['zipcode'].dirty && controls['zipcode'].invalid }"
                                                    placeholder="Zipcode" aria-describedby="zipcode" autofocus="" tabindex="1" maxlength="5">
                                                <div *ngIf="controls['zipcode'].dirty && controls['zipcode'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['zipcode'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="website">Management Co. Website *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="website" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['website'].dirty && controls['website'].invalid }"
                                                    placeholder="website" aria-describedby="website" autofocus="" tabindex="1" maxlength="50">
                                                <div *ngIf="controls['website'].dirty && controls['website'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['website'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <!-- <div class="form-group">
                                                <label class="form-label" for="mg_address2">Address 2</label>
                                                <input type="text" formControlName="mg_address2" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['mg_address2'].dirty && controls['mg_address2'].invalid }"
                                                    placeholder="Address 2" aria-describedby="mg_address2" autofocus="" tabindex="1" maxlength="50">
                                                <div *ngIf="controls['mg_address2'].dirty && controls['mg_address2'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['mg_address2'].hasError('required')">This field required</div>
                                                </div>
                                            </div> -->
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_firstname">Management Co. Contact First Name *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_firstname"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_firstname'].dirty && controls['contact_person_firstname'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_firstname" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_firstname'].dirty && controls['contact_person_firstname'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_firstname'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_lastname">Management Co. Contact Last Name *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_lastname"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_lastname'].dirty && controls['contact_person_lastname'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_lastname" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_lastname'].dirty && controls['contact_person_lastname'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_lastname'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person_title">Management Co. Contact Person Title *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input inputDirective inptype="text" type="text" formControlName="contact_person_title"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person_title'].dirty && controls['contact_person_title'].invalid }"
                                                    placeholder="" aria-describedby="contact_person_title" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <div *ngIf="controls['contact_person_title'].dirty && controls['contact_person_title'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person_title'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="contact_person">Management Co. Contact Phone Number *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="contact_person" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_person'].dirty && controls['contact_person'].invalid }"
                                                    aria-describedby="contact_person" autofocus="" tabindex="1" phoneMask
                                                    [preValue]="formData.value.contact_person" maxlength="14">
                                                <div *ngIf="controls['contact_person'].dirty && controls['contact_person'].invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="controls['contact_person'].hasError('required')">This field required</div>
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="mg_email">Management Co. Contact Email *</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="text" formControlName="contact_email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['contact_email'].dirty && controls['contact_email'].invalid }"
                                                    placeholder="" aria-describedby="contact_email" autofocus="" tabindex="1" maxlength="50">
                                                <span *ngIf="controls['contact_email'].dirty && controls['contact_email'].invalid">
                                                    <div class="invalid-feedback" *ngIf="controls['contact_email'].hasError('required')"
                                                        class="text text-danger">
                                                        This field required
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="controls['contact_email'].hasError('pattern')"
                                                        class="text text-danger">
                                                        Please enter valid email
                                                    </div>
                                                </span>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="form-label" for="login-email">Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                <input type="password" formControlName="password" class="form-control"
                                                    [ngClass]="{ 'is-invalid': controls['password'].dirty && controls['password'].invalid }"
                                                    placeholder="" aria-describedby="login-email" autofocus="" tabindex="1" inputDirective
                                                    maxlength="50">
                                                <!-- <div *ngIf="controls['password'].dirty && controls['password'].invalid" class="invalid-feedback">
                                                    <div *ngIf="controls['password'].hasError('required')">This field required</div>
                                                </div> -->
                                                <div class="invalid-feedback" *ngIf="controls['password'].hasError('pattern')"
                                                    class="text text-danger">
                                                    A minimum 8 characters password contains a combination of
                                                    uppercase and lowercase letter and special character are
                                                    required.
                                                </div>
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <div class="common-form-left">
                                                        <label for="inputPassword6" class="col-form-label">Confirm Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="common-form-left form-group">
                                                        <input type="password"
                                                            [class.is-invalid]="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid"
                                                            formControlName="cnfrmpassword" class="form-control form-control-user"
                                                            id="cnfrmpassword">
                                                        <span
                                                            *ngIf="controls['cnfrmpassword'].dirty && controls['cnfrmpassword'].invalid">
                                                            <!-- <div class="invalid-feedback"
                                                                *ngIf="controls['cnfrmpassword'].hasError('required')"
                                                                class="text text-danger">
                                                                This field required
                                                            </div> -->
                                                            
                                                            <div *ngIf="controls.cnfrmpassword.errors.confirmedValidator" style="color: #ea5455; font-size: 1rem;">Password and Confirm Password must be match.</div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="form-group captcha">
                                      <re-captcha (resolved)="resolved($event)"
                                                              siteKey="6Lcy7N4ZAAAAAHpYHlxEitgnmnAWUJaCCe5cNUzk"></re-captcha>
                                    </div> -->
                                            <button [disabled]="btnShow" type="submit" class="btn btn-primary " tabindex="4" rippleEffect>
                                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm mr-1"></span>Add
                                            </button>
                                            <button type="button" (click)="goBack()"
                                            class="btn btn-primary ml-1" [disabled]="btnShow">
                                            Cancel
                                        </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="button" (click)="addForm()" class="btn btn-primary" [disabled]="btnShow">
                                Add Another Shift
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>

                            <button type="button" (click)="submitted()" class="btn btn-primary ml-1"
                                [disabled]="btnShow">
                                Submit
                                <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button> -->
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>


