<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
  
              <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                  href="#account-vertical-general" aria-expanded="true">
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <!-- <i class="feather-eye"></i> -->
                  <span class="font-weight-bold">Basic Information</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Agency Information</h4>
                    </div>
                    <div class="card-body">
  
                        <div class=" col-lg-12 mt-2" *ngFor="let agency of allAgency">
                                <div class="card">
                                    <!-- <div class="card-header  pb-0">
                                        <div class="row">
                                            <h5 class="ml-1">{{agency.agency_name}} </h5>
                                        </div>
                                    </div> -->
                                    <div class="row space mb-1">
                                        <div class="col-md-4"><h6>Agency Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{ agency.agency_name}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Phone : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_phone}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Email : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_email}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Website : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_website}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Address 1 : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.address1}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Address 2 : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.address2}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency City : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.city}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency State : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.state}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Zipcode : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.zipcode}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Contact First Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_contact_firstname}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Contact Last Name : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_contact_lastname}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6>Agency Contact Person Title : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_contact_person_title}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"> <h6>Agency Contact Cell Number : </h6></div>
                                        <div class="col-md-8"><span class="description"> {{agency.agency_contact_cell_number}}</span></div>
                                    </div>
                                    <div class="row space  mb-1">
                                        <div class="col-md-4"><h6 >Agency Contact Email Address : </h6></div>
                                        <div class="col-md-8"><span class="description "> {{agency.agency_contact_email_address}}</span></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                  </div>
                </ng-template>
              </li>
  
  
              <!-- <li class="nav-item" ngbNavItem>
                <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-info" data-toggle="pill"
                  href="#account-vertical-info" aria-expanded="false">
                  <i data-feather="users" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Agency Password</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title d-flex justify-content-between w-100">
                        <span>Forgot Password</span>
                      </h4>
                    </div>
                    <div class="card-body"> 
                      <form [formGroup]="confirmForm" (ngSubmit)="confirmSubmit()">
                        <div class="col-lg-12">
                          <div class="common-form-field">
                            <div class="row">
                              <div class="col-lg-4">
                                  <div class="common-form-left">
                                      <label for="inputPassword6" class="col-form-label">Old Password</label>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="password"
                                    [class.is-invalid]="pControls['password'].dirty && pControls['password'].invalid"
                                    formControlName="password" class="form-control form-control-user"
                                    id="password">
                                    <span
                                    *ngIf="pControls['password'].dirty && pControls['password'].errors">
                                    <div class="invalid-feedback"
                                      *ngIf="pControls['password'].hasError('required')"
                                      class="text text-danger">
                                      This field required
                                    </div>
                                    <div class="invalid-feedback"
                                    *ngIf="pControls['password'].hasError('pattern')"
                                    class="text text-danger">
                                    A minimum 8 characters password contains a combination of
                                    uppercase and lowercase letter and special character are
                                    required.
                                </div>
                                  </span>
                                </div>
                              </div>
                          </div>

                              <div class="row">
                              <div class="col-lg-4">
                                  <div class="common-form-left">
                                      <label for="inputPassword6" class="col-form-label">Password</label>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="common-form-left form-group">
                                    <input type="password"
                                    [class.is-invalid]="pControls['newPassword'].dirty && pControls['newPassword'].invalid"
                                    formControlName="newPassword" class="form-control form-control-user"
                                    id="newPassword">
                                    <span
                                    *ngIf="pControls['newPassword'].dirty && pControls['newPassword'].invalid">
                                    <div class="invalid-feedback"
                                      *ngIf="pControls['newPassword'].hasError('required')"
                                      class="text text-danger">
                                      This field required
                                    </div>
                                    <div class="invalid-feedback"
                                    *ngIf="pControls['newPassword'].hasError('pattern')"
                                    class="text text-danger">
                                    A minimum 8 characters password contains a combination of
                                    uppercase and lowercase letter and special character are
                                    required.
                                </div>
                                  </span>
                                </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-4">
                                <div class="common-form-left">
                                    <label for="inputPassword6" class="col-form-label">Confirm Password</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="common-form-left form-group">
                                  <input type="password"
                                  [class.is-invalid]="pControls['confPassword'].dirty && pControls['confPassword'].invalid"
                                  formControlName="confPassword" class="form-control form-control-user"
                                  id="confPassword">
                                  <span *ngIf="pControls['confPassword'].dirty && pControls['confPassword'].invalid">
                                  <div class="invalid-feedback"
                                    *ngIf="pControls['confPassword'].hasError('required')"
                                    class="text text-danger">
                                    This field required
                                  </div>
                                  <div class="invalid-feedback"
                                    *ngIf="pControls['confPassword'].hasError('mustMatch')"
                                    class="text text-danger">
                                    Password and Confirm Password must be match.
                                  </div>
                                </span>
                              </div>
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary nexts">
                              Change Password
  
                              <span *ngIf="btnShow" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                    </div>
                  </div>
                </ng-template>
              </li> -->
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
      <!--/ account setting page -->
    </div>
  </div>
  
  <ng-image-fullscreen-view *ngIf="imageObject && imageObject.length" [images]="imageObject"
    [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>